anndata==0.7.6
anndata2ri==1.0.6
cython==0.29.24
karateclub==1.2.2
leidenalg==0.8.4
networkx==2.5.1
numpy==1.22
pandas==1.4.1
plotly==5.3.1
pot==0.8.2
pysal==2.6.0
igraph
python-louvain==0.15
rpy2==3.4.2
scanpy==1.8.2
scikit-learn==1.0.2
